.dashboard-container {
  padding: 20px;
  background: linear-gradient(135deg, #3d4263 0%, #ffffff 100%);
  min-height: 100vh;
  position: relative;
  color: white;

  h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .car-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* 1 colonne sur mobile */
    }
  }

  .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; /* Ajustez selon vos besoins */
    gap: 15px;
    font-size: 18px;
    color: #ffffff;

    .spinner-text {
      font-size: 20px;
      font-weight: 500;
      color: #ffffffcc; /* Texte légèrement transparent */
    }

    mat-progress-spinner {
      display: block;
      margin: auto;
    }
  }

  .car-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 500px;

    &:hover {
      transform: scale(1.02);
    }

    .car-image {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 10px 0;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      }
    }

    .car-details {
      padding: 15px;

      h2, h3 {
        margin: 0 0 10px 0;
        font-family: 'Georgia', serif;
      }

      p {
        margin: 5px 0;

        strong {
          font-weight: bold;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        button {
          width: 48%;
          font-weight: bold;
        }
      }
    }
  }

  mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .mat-paginator-range-label,
    .mat-button-wrapper {
      color: white;
    }
  }

  .add-car-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: #3d4263;
    color: white;

    &:hover {
      background-color: lighten(#3d4263, 10%);
    }

    mat-icon {
      font-size: 24px;
    }
  }
}
