<div class="dashboard-container">

  <!-- Indicateur de chargement -->
  <ng-container *ngIf="isSpinning; else agencyList">
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate" diameter="50" color="primary"></mat-progress-spinner>
      <span class="spinner-text">Chargement...</span>
    </div>
  </ng-container>

  <!-- Liste des agences -->
  <ng-template #agencyList>
    <div class="agency-grid" *ngIf="pagedAgencies.length > 0">
      <mat-card class="agency-card mat-elevation-z4" *ngFor="let agency of pagedAgencies">
        <img mat-card-image [src]="agency.processedImg" alt="Agency Image" class="agency-image" />
        <div class="agency-details">
          <h2>{{ agency.name }}</h2>
          <p><strong>Adresse :</strong> {{ agency.address }}, <span>{{ agency.city }}, {{ agency.country }}</span></p>
          <p><strong>Email :</strong> {{ agency.email }}</p>
          <p><strong>Téléphone :</strong> {{ agency.phoneNumber }}</p>

          <div class="actions">
            <button mat-raised-button color="primary" routerLink="/update_agence/{{ agency.id }}">
              Modifier
            </button>
            <button mat-raised-button color="warn" (click)="deleteAgency(agency.id)">
              Supprimer
            </button>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-paginator
      [length]="agencies.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[6, 12, 24]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </ng-template>

  <!-- Bouton flottant pour ajouter une agence -->
  <button mat-fab color="accent" class="add-agency-button" routerLink="/add_agence">
    <mat-icon>add</mat-icon>
  </button>
</div>
